.navbar_brand {
  background-color: white;
  /* width: 100px; */
  border-radius: 100%;
  padding: 10px 10px;
}


nav.navbar.navbar-expand.navbar-light {
    background-color: #222a35;
}
.navbar a.navbar-brand {
  background-color: white;
  border-radius: 100%;
  padding: 5px 5px;
  width: 60px;
  height: 60px;
  position: relative;
}

.navbar img {
  height: 46px;
  width: 100%;
}

span.navbar-text {
  top: 9px;
  position: absolute;
  left: 71px;
  color: white;
}

svg {
  color: white;
}

.container,
.container-md,
.container-sm {
  max-width: 1366px !important;
}

/* aside nav bare styling */
.flex-column.nav {
  background-color: #222a35;
  height: 700px;
}

.nav-link {
  color: white !important;
}

.e-sidebar { 
    display: flex;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    margin-top: 5px;
    padding-top: 30px;
    background-color: #222a35;
}
.e-sidebar .tab { 
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
}
.portal__container {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}
.portal__container .main{ 
  margin-left: 30px;
  padding-top: 30px;
  width: 100%;
}