
.navbar_brand {
    background-color: white;
    /* width: 100px; */
    border-radius: 100%;
    padding: 10px 10px;
}



.navbar a.navbar-brand {
    background-color: white;
    border-radius: 100%;
    padding: 5px 5px;
    width: 60px;
    height: 60px;
    position: relative;
    
}


.navbar img{
    height: 46px;
    width: 100%;

    
}

span.navbar-text {
    top: 9px;
    position: absolute;
    left: 71px;
    color: white;
}

svg {
    color: white;
}


.container, .container-md, .container-sm  {
    max-width: 1366px !important; 
}

/* aside nav bare styling */
.flex-column.nav {
    background-color: #29292e;
    height: 700px;
}

.nav-link{
    color: white !important;
}